body{
	font-family: 'Assistant', sans-serif;
	font-size: 19px;
	background-color: #fff;
	color: #626262!important;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../image/Loader.gif) center no-repeat #fff;
}

.py-6{
	padding-top: 4rem!important;
	padding-bottom: 4rem!important;
}
.mt-6{
	margin-top: 4rem!important;
}
.parallax {
  /* The image used */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.50)), url(../image/loan_660_112217032922.jpg);
  /* Set a specific height */
  min-height: 100vh;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-center{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome_box{
	min-height: 300px;
	border-radius: 15px;
	background-color: #fff;	
}
.login_box{
	min-height: 300px;
	border-radius: 15px;
	background-color: rgba(255,255,255);	
}
.login_box form input{
	font-weight: 600;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	border-bottom: 1px solid #8CC63E;
	padding: 0px .75rem;
}
.login_box form input:focus{
	box-shadow: none;
}
.login_box label{
	font-weight: bolder;
	/*color: #000;*/
}
.wid_80{
	width: 80vw;
	border-radius: 15px; 
}
.width{
	width: 100vw;
}
.fill_application label{
	font-weight: bolder;
}
.fill_application input{
	font-weight: 600;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	border-bottom: 1px solid #8CC63E;
	padding: 0px .75rem;
}
.fill_application input:focus{
	box-shadow: none;
}
.fill_application ::placeholder{
	color: rgba(132,132,132,0.7);
}

footer{
	height: 10px;
	background-image: linear-gradient(to right, #8CC63E, #2775BC);
}
@media screen and (min-width: 768px){
	.wid_80{
		width: 50vw;
	}
	.width{
		width: 50vw;
	}
}



/* ------- Range Slider ------- */


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8CC63E;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8CC63E;
  cursor: pointer;
}





/*
#8CC63E
#2775BC

*/